<div class="list-controls">
  <button (click)="previousPage()" [disabled]="isFirstPage">Previous</button>
  <button (click)="nextPage()" [disabled]="isLastPage">Next</button>
  <poke-search (onGo)="refreshList($event)" placeholder="Search for Pokemon..."></poke-search>
</div>

<ul class="cards">
  <li *ngFor="let pokemon of pokeList">
    <div class="card-top">
      <img [src]="pokemon.pic" />
    </div>
    <div class="card-bottom">
      <span [innerHtml]="pokemon.name"></span>
      <a [routerLink]="['details/' + pokemon.id]">Details</a>
    </div>
  </li>
</ul>
