<div class="list-controls">
  <button (click)="previousPage()" [disabled]="isFirstPage">Previous</button>
  <button (click)="nextPage()" [disabled]="isLastPage">Next</button>
  <div class="search-controls">
    <poke-search (onGo)="refreshList($event)" placeholder="Search for Pokemon..."></poke-search>
    <span [innerHtml]="filteredSize"></span>
  </div>
</div>

<ul class="cards" [@listState]="listState">
  <li *ngFor="let pokemon of pokeList">
    <poke-card [pokemon]="pokemon"></poke-card>
  </li>
</ul>
