.poke-search {
  display: inline-block;
  padding: 10px 15px;
}

label {
  color: #fff;
}

input {
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  padding: 8px 10px;
}

button {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: .9em;
  margin-right: 5px;
  padding: 5px 10px;
}
